//Color configuration

$desert-night: #02152c;
$desert-sand: #c75306;
$h2-color: rgba(255, 255, 255, 0.7);

//Sizes
$macbook: "screen and (max-width: 1440px)";
$ipad: "screen and (max-width: 1024px)";
$iphone: "screen and (max-width: 414px)";

//Modificators
.sand {
    color: $desert-sand;
}

//Font configuration

:root {
    /* Increase or decrease the number 
    to change the vertical spacing globally*/

    /* Base Vertical Spacing */
    --space: 1.6;

    /* Vertical Spacing - multiplier */
    --vspace: calc(var(--space) * 1rem);
    --vspace-0: calc(3 * var(--space) * 1rem);
    --vspace-1: calc(2 * var(--space) * 1rem);
    --vspace-2: calc(1.5 * var(--space) * 1rem);
    --vspace-3: calc(0.5 * var(--space) * 1rem);
}

body {
    font-size: 16px;
}

p {
    line-height: var(--vspace);
}

h1 {
    margin-top: 0;

    &:nth-child(1) {
        margin-top: clamp(30px, 3vw, 53px);
    }
}

h4,
h5,
h6 {
    line-height: var(--vspace);
}

h2 {
    line-height: 1em;
    font-size: 2.6458em;
    font-weight: lighter;
    font-style: italic;
    word-break: break-word;
    color: $h2-color;
}

h3 {
    line-height: 1em;
    font-size: clamp(18.6px, 3vw, 28px);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

h4 {
    font-size: 1.3333em;
    text-transform: capitalize;
}

h5 {
    font-size: 1.1667em;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

h6 {
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    font-family: "le-monde-livre-classic-byol", serif !important;
    letter-spacing: 0px !important;
}

//Mixins
@mixin secondary-text {
    font-style: italic;
    font-weight: medium;
    color: $h2-color;
}

//Misc
$card-border: 4px solid $desert-sand;
