@import "optional";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: white;
    font-family: "Montserrat";
    display: flex;
    flex-flow: row;
    justify-content: center;

    @media #{$ipad} {
        display: block;
    }
}

.wrapper {
    background-color: $desert-night;
    width: calc(min(100%, 1044px));
    margin: 60px 0;
    padding: 0 90px 0 65px;

    display: grid;
    grid-template-rows: repeat(5, auto);

    @media #{$ipad} {
        margin: 0;
    }

    @media #{$iphone} {
        padding: 0;
    }
}

section {
    margin-bottom: clamp(69px, 3vw, 150px);

    @media #{$iphone} {
        h1,
        h2 {
            padding-left: 10px;
        }
    }
}

.section-title {
    font-size: clamp(38px, 5vw, 84.6px);
}

.section-content {
    font-size: clamp(18.6px, 2vw, 42.3px);
}

.intro {
    &__title {
        width: 60%;
        margin-bottom: 0;

        @media #{$iphone} {
            width: 100%;
        }
    }

    &__subtitle {
        font-style: italic;
    }
}

.projects-wrapper {
    display: flex;
    flex-flow: row;

    @media #{$iphone} {
        flex-flow: column;
        align-items: center;
        margin-top: 100px;
    }

    .project-card {
        width: calc(min(440px, 95%));
        height: 260px;
        display: grid;
        grid-template-rows: repeat(4, 1fr);

        border: $card-border;

        text-decoration: none;

        margin: 0 40px 0 0;

        @media #{$iphone} {
            margin: 0 0 40px 0;
        }

        &__title {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;

            padding: 0 15px;
            height: clamp(52px, 5vh, 72px);

            background-color: $desert-sand;

            h2 {
                margin: 0;
                padding-left: 0;

                font-style: normal;
                font-weight: bold;
                font-size: clamp(28px, 2vw, 42.3px);
                color: white;
            }

            img {
                width: 37px;
                height: 37px;
            }
        }

        &__content {
            @include secondary-text;

            padding: 15px;
            margin-bottom: 40px;
        }
    }
}

.contact {
    &-card {
        display: flex;
        flex-flow: column;
        // gap: 45px;

        height: 260px;
        width: calc(min(100vw, 445px));
        margin: 160px auto;

        background-color: $desert-sand;

        @media #{$iphone} {
            margin: 75px auto;
        }

        &__title {
            margin: 0 0 45px 0;
            padding: 20px 0 0 22px;
        }

        &__info {
            display: flex;
            flex-flow: row;
            justify-content: space-between;

            padding: 0 22px;

            & > * {
                font-size: 18.6px;
            }
        }

        &-info__name {
            display: flex;
            flex-flow: column;

            @include secondary-text;

            * {
                margin: 0 0 20px 0;
            }
        }

        &-info__adress {
            display: flex;
            flex-flow: column;

            @media #{$iphone} {
                text-align: right;
            }

            * {
                margin: 0 0 20px 0;
                // text-decoration: none;
                @include secondary-text;
            }
        }
    }

    @media #{$iphone} {
        padding-left: 0;
    }
}
