@import "optional";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: white;
    font-family: "Montserrat";
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.wrapper {
    background-color: $desert-night;
    max-width: 1044px;
    margin: 60px 0;

    display: grid;
    grid-template-rows: repeat(5, auto);
}

section {
    margin: 0 60px 0 70px;
}

.intro {
    &__title {
        width: 60%;
        margin-bottom: 0;
    }

    &__subtitle {
        font-style: italic;
    }
}

.android {
    justify-self: end;

    &-wrapper {
        width: 440px;
        height: 290px;
        position: relative;

        display: grid;
        grid-template-rows: repeat(3, 1fr);

        border: $card-border;

        overflow: hidden;

        img {
            max-width: 170px;
            max-height: 170px;

            grid-row: 1/3;
            justify-self: center;
        }

        .android-chat {
            display: flex;
            flex-flow: column;
            justify-content: center;

            background-color: $desert-sand;

            h2 {
                margin: 0 0 0 13px;

                background-color: $desert-sand;
            }
        }
    }
}

.projects-wrapper {
    display: flex;
    flex-flow: row;
    gap: 40px;

    .project-card {
        width: 440px;
        height: 260px;
        display: grid;
        grid-template-rows: repeat(4, 1fr);

        border: $card-border;

        &__title {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;

            padding: 0 15px;

            background-color: $desert-sand;

            h2 {
                margin: 0;
                font-style: normal;
                font-weight: bold;
                color: white;
            }

            img {
                width: 37px;
                height: 37px;
            }
        }

        &__content {
            font-style: italic;
            font-weight: medium;
            font-size: 1.3333em;
            color: $h2-color;

            padding: 15px;
            margin: 0;
        }
    }
}
