@import "optional";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: white;
    font-family: "Montserrat";
    display: flex;
    flex-flow: row;
    justify-content: center;

    @media #{$ipad} {
        display: block;
    }
}

.wrapper {
    background-color: $desert-night;
    max-width: calc(min(100%, 1044px));
    margin: 60px 0;
    padding: 0 90px 0 65px;

    display: grid;
    grid-template-rows: repeat(5, auto);

    @media #{$ipad} {
        margin: 0;
    }

    @media #{$iphone} {
        padding: 0;
    }
}

section {
    margin: 0 0 150px 0;

    @media #{$iphone} {
        h1,
        h2 {
            padding-left: 10px;
        }

        margin: 0 0 75px 0;
    }
}

.intro {
    &__title {
        width: 60%;
        margin-bottom: 0;

        @media #{$iphone} {
            width: 100%;
        }
    }

    &__subtitle {
        font-style: italic;
    }
}

.projects-wrapper {
    display: flex;
    flex-flow: row;
    gap: 40px;

    @media #{$iphone} {
        flex-flow: column;
        margin-top: 100px;
    }

    .project-card {
        width: calc(min(440px, 100%));
        height: 260px;
        display: grid;
        grid-template-rows: repeat(4, 1fr);

        border: $card-border;

        &__title {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;

            padding: 0 15px;

            background-color: $desert-sand;

            h2 {
                margin: 0;
                font-style: normal;
                font-weight: bold;
                color: white;
            }

            img {
                width: 37px;
                height: 37px;
            }
        }

        &__content {
            @include secondary-text;

            padding: 15px;
            margin: 0;
        }
    }
}

.contact {
    &-card {
        display: flex;
        flex-flow: column;
        gap: 45px;

        height: 260px;
        width: calc(min(100%, 445px));
        // height: clamp(200px, 20vw, 260px);
        margin: 160px auto;

        background-color: $desert-sand;

        @media #{$iphone} {
            margin: 75px auto;
        }

        &__title {
            margin: 0;

            padding: 20px 0 0 22px;
        }

        &__info {
            display: flex;
            flex-flow: row;
            justify-content: space-between;

            padding: 0 22px;

            & > * {
                font-size: 18.6px;
            }
        }

        &-info__name {
            display: flex;
            flex-flow: column;

            @include secondary-text;

            * {
                margin: 0 0 20px 0;
            }
        }

        &-info__adress {
            display: flex;
            flex-flow: column;

            @include secondary-text;

            * {
                margin: 0 0 20px 0;
            }
        }
    }

    @media #{$iphone} {
        padding-left: 0;
    }
}
