.sand { color: #c75306; }

:root { /* Increase or decrease the number  to change the vertical spacing globally*/ /* Base Vertical Spacing */ --space: 1.6; /* Vertical Spacing - multiplier */ --vspace: calc(var(--space) * 1rem); --vspace-0: calc(3 * var(--space) * 1rem); --vspace-1: calc(2 * var(--space) * 1rem); --vspace-2: calc(1.5 * var(--space) * 1rem); --vspace-3: calc(0.5 * var(--space) * 1rem); }

html { font-size: 16px; }

body { font-size: 0.875em; }

p { line-height: var(--vspace); }

h4, h5, h6 { line-height: var(--vspace); }

h1 { line-height: calc(5.2917 / var(--space) * var(--vspace)); font-size: 5.2917em; word-break: break-word; }

h2 { line-height: 1em; font-size: 2.6458em; font-weight: lighter; font-style: italic; word-break: break-word; color: rgba(255, 255, 255, 0.7); }

h3 { line-height: 1em; font-size: 1.75em; font-weight: normal; text-transform: uppercase; letter-spacing: 0.1em; }

h4 { font-size: 1.3333em; text-transform: capitalize; }

h5 { font-size: 1.1667em; font-weight: lighter; text-transform: uppercase; letter-spacing: 0.15em; }

h6 { font-size: 1em; font-weight: normal; font-style: italic; font-family: "le-monde-livre-classic-byol", serif !important; letter-spacing: 0px !important; }

* { box-sizing: border-box; }

body { margin: 0; color: white; font-family: "Montserrat"; display: flex; flex-flow: row; justify-content: center; }

.wrapper { background-color: #02152c; max-width: 1044px; margin: 60px 0; display: grid; grid-template-rows: repeat(5, auto); }

section { margin: 0 60px 0 70px; }

.intro__title { width: 60%; margin-bottom: 0; }

.intro__subtitle { font-style: italic; }

.android { justify-self: end; }

.android-wrapper { width: 440px; height: 290px; position: relative; display: grid; grid-template-rows: repeat(3, 1fr); border: 4px solid #c75306; overflow: hidden; }

.android-wrapper img { max-width: 170px; max-height: 170px; grid-row: 1/3; justify-self: center; }

.android-wrapper .android-chat { display: flex; flex-flow: column; justify-content: center; background-color: #c75306; }

.android-wrapper .android-chat h2 { margin: 0 0 0 13px; background-color: #c75306; }
